html body{
    margin: 0;
    background-color: rgb(218, 180, 253);
    font: poppins;
}
nav{
    justify-content: space-between;
    background-color: rgb(128, 31, 107);
    padding-bottom: 10px;
    display: flex;
    color: rgb(202, 153, 218);
    margin: 0;
    width: 100%;
    
}
#logo{
    display: flex;
}
nav>div>a{
    align-items: center;
    color: rgb(202, 153, 218);

}
#homesection{
    display: flex;
  
}
#homesection>div>img{
    width: 350px;
    border-radius: 40;
    margin:30px;
    padding-right: 50px;
}
#mywork>div#projectcards{
   display: flex;
   justify-content: space-evenly;

}
.card{
    background-color: plum;
    height: 450px;
    justify-content: space-evenly;
    border-radius: 40px;
    padding: 10px 12px 10px 12px;
    width:400px;
}
.card>img{
    height: 250px;
    width:100%;
    border-radius: 20px;
}
.card>img>button{
    background-color: rgb(114, 14, 101);

}

 
